# 01. Data Exploration

In [1]:
# packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Importing dataset
df = pd.read_csv('../data/raw/matches.csv')
df.head()

,Unnamed: 0,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,...,Match Report,Notes,Sh,SoT,Dist,FK,PK,PKatt,Season,Team
0,1,2023-08-11,20:00,Premier League,Matchweek 1,Fri,Away,W,3,0,...,Match Report,NaN,17.0,8.0,13.9,0.0,0,0,2024,ManchesterCity
1,3,2023-08-19,20:00,Premier League,Matchweek 2,Sat,Home,W,1,0,...,Match Report,NaN,14.0,4.0,17.9,0.0,0,0,2024,ManchesterCity
2,4,2023-08-27,14:00,Premier League,Matchweek 3,Sun,Away,W,2,1,...,Match Report,NaN,29.0,9.0,17.3,2.0,0,1,2024,ManchesterCity
3,5,2023-09-02,15:00,Premier League,Matchweek 4,Sat,Home,W,5,1,...,Match Report,NaN,6.0,4.0,14.8,0.0,1,1,2024,ManchesterCity
4,6,2023-09-16,15:00,Premier League,Matchweek 5,Sat,Away,W,3,1,...,Match Report,NaN,29.0,13.0,16.4,1.0,0,0,2024,ManchesterCity

**Removing**: Unnamed, Date, Season, Time, Comp, Captain, Formation, Referee, Match Report, Notes,

In [10]:
# Checking for missing values: None missing
df.isnull().sum()

Unnamed: 0        0
Date              0
Time              0
Comp              0
Round             0
Day               0
Venue             0
Result            0
GF                0
GA                0
Opponent          0
xG                0
xGA               0
Poss              0
Attendance        0
Captain           0
Formation         0
Referee           0
Match Report      0
Notes           760
Sh                0
SoT               0
Dist              0
FK                0
PK                0
PKatt             0
Season            0
Team              0
dtype: int64

In [16]:
# Checking datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    760 non-null    int64
 1   Date          760 non-null    object
 2   Time          760 non-null    object
 3   Comp          760 non-null    object
 4   Round         760 non-null    object
 5   Day           760 non-null    object
 6   Venue         760 non-null    object
 7   Result        760 non-null    object
 8   GF            760 non-null    int64
 9   GA            760 non-null    int64
 10  Opponent      760 non-null    object
 11  xG            760 non-null    float64
 12  xGA           760 non-null    float64
 13  Poss          760 non-null    float64
 14  Attendance    760 non-null    float64
 15  Captain       760 non-null    object
 16  Formation     760 non-null    object
 17  Referee       760 non-null    object
 18  Match Report  760 non-null    object
 19  Notes         0 non-null      float64
 20  Sh            760 non-null    float64
 21  SoT           760 non-null    float64
 22  Dist          760 non-null    float64
 23  FK            760 non-null    float64
 24  PK            760 non-null    int64
 25  PKatt         760 non-null    int64
 26  Season        760 non-null    int64
 27  Team          760 non-null    object
dtypes: float64(9), int64(6), object(13)
memory usage: 166.4+ KB